# Copy this file to .env and update values as needed.
# Database
DB_HOST=localhost:3307
DB_PORT=3307
DB_USER=root
DB_PASS=
DB_NAME=personal_finance_manager

# SMTP (optional)
SMTP_HOST=smtp.gmail.com:587
SMTP_PORT=587
SMTP_USERNAME=businessauj@gmail.com
SMTP_PASSWORD=ixaw vtvt cbft vnfx
SMTP_FROM_EMAIL=businessauj@gmail.com
